:root {
    --main-color: #0078ff;
    --secound-color: #cde1f8;
    --body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
li{
list-style: none;
}

body {
    font-family: var(--body-font-family);
    background-color: #F5F5F5;
}

.font-resize {
    font-size: 0.8rem;
}

.h-bold {
    font-weight: 700;
}

.section-title {
    position: relative;

    &::before {
        content: "";
        width: 3.5rem;
        height: 3px;
        background-color: var(--main-color);
        position: absolute;
        bottom: -20%;
        transform: translateX(-50%);
    }

    h3 {
        letter-spacing: 2px;
    }
}

.overlay {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 25rem;
}


/*&------navbar--------*/
nav{
    background-color: rgba(0, 0, 0, 0.8);
}
nav .navbar-nav .nav-item .nav-link {
    color: white;
    position: relative;
}

nav .navbar-nav .nav-item .nav-link::before {
    content: "";
    background-color: white;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}

nav .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

nav .navbar-nav .nav-item .nav-link:hover::before {
    width: calc(100% - 20px);
}

.navbar-dark .navbar-nav .nav-link.active::before {
    width: calc(100% - 20px);
}


/*&------header--------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        font-size: 4.5rem;
    }

    p::after {
        content: "|";
        animation: typing 10s ease-out infinite;
    }
}

@keyframes typing {
    0% {
        content: "|";
    }

    1% {
        content: "|";
    }

    2% {
        content: "D|";
    }

    3% {
        content: "De|";
    }

    4% {
        content: "Dev|";
    }

    5% {
        content: "Deve|";
    }

    6% {
        content: "Devel|";
    }

    7% {
        content: "Develo|";
    }

    8% {
        content: "Develop|";
    }

    9% {
        content: "Develope|";
    }

    10% {
        content: "Developer|";
    }

    11% {
        content: "Developer|";
    }

    12% {
        content: "Developer|";
    }

    13% {
        content: "Developer|";
    }

    14% {
        content: "Developer|";
    }

    15% {
        content: "Developer|";
    }

    16% {
        content: "Developer|";
    }

    17% {
        content: "Develope|";
    }

    18% {
        content: "Develop|";
    }

    19% {
        content: "Develo|";
    }

    20% {
        content: "Devel|";
    }

    21% {
        content: "Deve|";
    }

    22% {
        content: "Dev|";
    }

    23% {
        content: "De|";
    }

    24% {
        content: "D|";
    }

    25% {
        content: "|";
    }

    26% {
        content: "|";
    }

    27% {
        content: "|";
    }

    28% {
        content: "|";
    }

    29% {
        content: "|";
    }

    30% {
        content: "|";
    }

    31% {
        content: "D|";
    }

    32% {
        content: "De|";
    }

    33% {
        content: "Des|";
    }

    34% {
        content: "Desi|";
    }

    35% {
        content: "Desig|";
    }

    36% {
        content: "Design|";
    }

    37% {
        content: "Designe";
    }

    38% {
        content: "Designer";
    }

    39% {
        content: "Designer|";
    }

    40% {
        content: "Designer|";
    }

    41% {
        content: "Designer|";
    }

    42% {
        content: "Designer|";
    }

    43% {
        content: "Designer|";
    }

    44% {
        content: "Designer|";
    }

    45% {
        content: "Designe|";
    }

    46% {
        content: "Design|";
    }

    47% {
        content: "Desig|";
    }

    48% {
        content: "Desi|";
    }

    49% {
        content: "Des|";
    }

    50% {
        content: "Des|";
    }

    51% {
        content: "De|";
    }

    52% {
        content: "D|";
    }

    53% {
        content: "|";
    }

    54% {
        content: "|";
    }

    55% {
        content: "|";
    }

    56% {
        content: "|";
    }

    57% {
        content: "|";
    }

    58% {
        content: "P|";
    }

    59% {
        content: "Ph|";
    }

    60% {
        content: "Pho|";
    }

    61% {
        content: "Phot|";
    }

    62% {
        content: "Photo|";
    }

    63% {
        content: "Photog|";
    }

    64% {
        content: "Photogr|";
    }

    65% {
        content: "Photogra|";
    }

    66% {
        content: "Photograp|";
    }

    67% {
        content: "Photographe|";
    }

    68% {
        content: "Photographer|";
    }

    69% {
        content: "Photographer.|";
    }

    70% {
        content: "Photographer.|";
    }

    71% {
        content: "Photographer.|";
    }

    72% {
        content: "Photographe|";
    }

    73% {
        content: "Photograph|";
    }

    74% {
        content: "Photograp|";
    }

    75% {
        content: "Photogra|";
    }

    76% {
        content: "Photogr|";
    }

    77% {
        content: "Photog|";
    }

    78% {
        content: "Photo|";
    }

    79% {
        content: "Phot|";
    }

    80% {
        content: "Pho|";
    }

    81% {
        content: "Ph|";
    }

    82% {
        content: "P|";
    }

    83% {
        content: "|";
    }

    84% {
        content: "F|";
    }

    85% {
        content: "Fr|";
    }

    86% {
        content: "Fre|";
    }

    87% {
        content: "Free|";
    }

    88% {
        content: "Freel|";
    }

    89% {
        content: "Freela|";
    }

    90% {
        content: "Freelan|";
    }

    91% {
        content: "Freelanc|";
    }

    92% {
        content: "Freelance|";
    }

    93% {
        content: "Freelancer|";
    }

    94% {
        content: "Freelance|";
    }

    95% {
        content: "Freelanc|";
    }

    96% {
        content: "Freelan|";
    }

    97% {
        content: "Freela|";
    }

    98% {
        content: "Freel|";
    }

    99% {
        content: "Free|";
    }

    100% {
        content: "Fre|";
    }

    101% {
        content: "Fr|";
    }

    102% {
        content: "F|";
    }

    103% {
        content: "|";
    }

    104% {
        content: "|";
    }
}



/*&-----about------*/
.about-section .about-caption h5 {
    position: relative;
}

.about-section .about-caption h5::before {
    content: "";
    height: 3px;
    width: 6rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: -30%;
}

.about-section .about-caption .para-about {
    font-size: 1.25rem;
    font-weight: 300;
}

/*&-----services------*/
.ico-circle {
    color: white;
    box-shadow: 0 0 0 10px var(--main-color);
    height: 6rem;
    width: 6rem;
    transition: 0.3s all;
}

.icon-color {
    color: black;
    transition: 0.3s all;
}

.services-section .services-inner:hover .ico-circle {
    box-shadow: 0 0 0 10px var(--secound-color);
    color: var(--main-color);
}

.services-section .services-inner:hover .icon-color {
    color: white;
}

/*&-----counter------*/
.counter-section {
    background-image: linear-gradient(rgb(0, 120, 255, 0.5), rgb(0, 120, 255, 0.5)), url(../images/counters-bg.jpg);
}

.counter-section {
    .container {
        padding-top: 10%;
    }

    .icon-color {
        color: white;
    }

    .ico-circle {
        color: transparent;
        height: 4rem;
        width: 4rem;
        box-shadow: 0 0 0 10px var(--secound-color);
    }
}

/*&-----Portfolio------*/
.Portfolio-section {
    .colored-card {
        color: var(--main-color);
    }

    .card {
        cursor: pointer;
    }

    .card img {
        transition: 0.8s all;
    }

    .card:hover img {
        transform: scale(1.3);
    }


}


/*&-----slider------*/
.slider-section {
    background-image: linear-gradient(rgb(0, 120, 255, 0.5), rgb(0, 120, 255, 0.5)), url(../images/overlay-bg.jpg);

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
    }
}

/*&-----blog------*/
.blog-section .card-body h6 {
    transform: translateX(145%);
}

.blog-section .personal-info img {
    width: 10%;
}

/*&-----contact------*/
.contact-section {
    background-image: linear-gradient(rgb(0, 120, 255, 0.5), rgb(0, 120, 255, 0.5)), url(../images/overlay-bg.jpg);
    height: auto;
}

.contact-content {
    margin-top: 8rem;
}

.contact-section .section-title::before {
    width: 6rem;
    transform: translateX(0%);
}

.contact-section .btn {
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: var(--main-color);
}

.contact-section .btn:hover {
    background-color: rgba(49, 132, 253, .9);
    border-color: rgba(49, 132, 253, .6);;
    box-shadow: 0 0 0 .25rem rgba(49, 132, 253, .5);
}
.contact-section ul i{
    color: var(--main-color);
}
.cont-icon-color{
    border-color: var(--main-color) !important;
}
/*&-----contact------*/
.footer-section{
background-color: #0062d3;}